<p>
    A sub-page view
</p>

<p>
    Model:
</p>
<ul>
    <li>Controller: {{controller}}</li>
    <li>View: {{view}}</li>
    <li>Method: {{method}}</li>
    <li>Search: {{search}}</li>
    <li>Path: [{{path}}]</li>
</ul>
